<div class="card">
    <div class="card-header">
        {{tituloPagina}}
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-2">Filtrar por:</div>
            <div class="col-md-4">
                <input type="text" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>Filtrado por:</h4>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table" *ngIf='estudantes && estudantes.length'>
                <thead>
                    <tr>
                        <th>
                            <button class="btn btn-primary">
                                Exibir Imagem
                            </button>
                        </th>
                        <th>Nome</th>
                        <th>Sexo</th>
                        <th>Planeta</th>
                    </tr>
                </thead>
                <tbody>
                        <tr *ngFor='let estudante of estudantes'>
                                <td></td>
                                <td>{{estudante.nomeEstudante}}</td>
                                <td>{{estudante.sexoEstudante}}</td>
                                <td>{{estudante.planeta}}</td>
                        </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>